#deadline-box-item-div{
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#deadline-box-item-date-div{
    color: #FF7C2A;
    font-weight: 700;
    font-size: 14px;
}